/*!
* ------------------------------------------------------------
*  Tailwind Grid
*  Extracted from 
*  https://unpkg.com/tailwindcss@1.4.6/dist/tailwind.css
* ------------------------------------------------------------
*/

// @import "tailwind";
@import "grid";

.grid *,
.grid-cols-1 * {
  font-family: sans-serif;
  background: royalblue;
  color: white;
  box-shadow: inset 0 0 0 1px #B1C1F3;
  min-height: 80px;
  padding: 12px;
}