/*!--------------------------
* GridLab
* ------------------------- */

body {
  font-family: sans-serif;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px;
}


body {
  max-width: 1280px;
  margin: 0 auto;
}

 a {
  color: royalblue;
  text-decoration: none;
}

.github-button {
  display: flex; 
  margin-bottom: 40px;
  margin-top: 20px;
}

.main-header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  height: 60px;
  background: white;
  border-bottom: 1px solid #CCC;
  padding: 0 20px;
}

.main-header h1 a {
  text-decoration: none;
  color: black;
  margin-right: 40px;
}

.main-header ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.main-header ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

.main-header ul li a.active {
  color: white;
  background: black;
  border-radius: 24px;
}