/*!--------------------------
* GridLab
* ------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px;
  overscroll-behavior: none;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

 a {
  color: royalblue;
  text-decoration: none;
}

h2 {
  margin-top: 40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #24292e;
  background-color: #F6F7F9;
  border: 1px solid rgba(27,31,35,.2);
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  height: 26px;
  margin-right: 4px;
  line-height: 28px;
  border-radius: 4px;
}

.button:hover {
  background-color: #F0F1F5;
  border: 1px solid rgba(27,31,35,.5);
}

/* Main Header 
---------------------------------- */

.main-menu {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  height: 60px;
  background: black;
  padding: 0 14px;
}

.main-menu .main-logo {
  margin-top: 20px;
}

.main-menu .main-logo a {
  text-decoration: none;
  color: white;
  margin-right: 28px;
  font-size: 26px;
}

.main-menu ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.main-menu ul li a {
  color: rgba($color: #FFFFFF, $alpha: 0.8);
  text-decoration: none;
  padding: 10px 20px;
}

.main-menu ul li a.active {
  color: white;
  background: #383838;
  border-radius: 5px;
}

/* Sub Header 
---------------------------------- */

.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 20px;
}

.sub-header h1 {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/* Grid Type */

.grid-type {
  line-height: 14px;
  font-size: 35%;
  opacity: 0.6;
  border: 1px solid rgba($color: #000000, $alpha: 0.3);
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 12px;
}

@media (max-width: 600px) {
  .sub-header {
    display: block;
    height: auto;
  }
  .sub-header .actions .button {
    font-size: 70%;
    margin-bottom: 12px;
  }
}
/* Logo Background (Empty State) 
---------------------------------- */

body .logo-bg {
  opacity: 0.1; 
  filter: invert(1);
  margin: 0 auto;
  display: flex;
}


/* Editor (transition) 
---------------------------------- */

.CodeMirror {
  width: 100%;
  height: auto;
  border: 1px solid #EDEDED;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 14px;
}

iframe.code-result {
  width: 100%;
  border: 1px solid hsl(0, 0%, 85%);
  margin-bottom: -4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 80px;
  overflow: hidden;
  transition: opacity 0.4s ease;
}

iframe.code-result.hidden {
  opacity: 0;
  transition: opacity 0.4s ease;
}

[code-editor],
[code-editor='html'],
[code-editor='js'],
[code-editor='css'],
[code-editor='vue'],
[code-editor='mixed'] {
  width: 100%;
  min-height: 300px;
  border: 1px solid #f2f2f2;
  color: rgba(0,0,0, 0);
}